@model List<ResultTestimonialViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Açıklama</th>
        <th>İsim</th>        
        <th>Sil </th>
        <th>Güncelle</th>




    </tr>
    @foreach (var item in Model)
    {
        <tr>

             <td>@item.TestimonialID</td>
             <td>@item.Image</td>
             <td>@item.Description</td>
             <td>@item.Name</td>          
             <td><a href="/AdminTestimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
             <td><a href="/AdminTestimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-success">Güncelle</a></td>
         


        </tr>
    }


</table>

<a href="/AdminTestimonial/AddTestimonial/" class="btn btn-info">Yeni Referans Girişi</a>



