<div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">

                      <li>
                        <a href="/Default/Index/" aria-expanded="false">
                            <i class="icon-graduation  menu-icon"></i><span class="nav-text">Siteye Git</span>
                        </a>
                    </li>                   

                     <li>
                        <a href="/AdminCar/Index/" aria-expanded="false">
                            <i class="icon-notebook  menu-icon"></i><span class="nav-text">Arabalar</span>
                        </a>
                    </li>

                    <li>
                        <a href="/AdminTestimonial/Index/" aria-expanded="false">
                            <i class="icon-lock  menu-icon"></i><span class="nav-text">Referanslar</span>
                        </a>
                    </li>

                  
                     <li>
                        <a href="/AdminDetail/Index/" aria-expanded="false">
                            <i class="icon-info  menu-icon"></i><span class="nav-text">Detaylar</span>
                        </a>
                    </li>
                     <li>
                        <a href="/AdminContact/Index/" aria-expanded="false">
                            <i class="icon-home  menu-icon"></i><span class="nav-text">İletişim</span>
                        </a>
                    </li>
                     <li>
                        <a href="/AdminRegister/Index/" aria-expanded="false">
                            <i class="icon-people  menu-icon"></i><span class="nav-text">Yeni Admin Kayıt</span>
                        </a>
                    </li>
                     <li>
                        <a href="/AdminRentCar/Index/" aria-expanded="false">
                            <i class="icon-envelope  menu-icon"></i><span class="nav-text">Araç Onay İşlemleri</span>
                        </a>
                    </li>
                      <li>
                        <a href="/AdminService/Index/" aria-expanded="false">
                            <i class="icon-picture  menu-icon"></i><span class="nav-text">Servisler</span>
                        </a>
                    </li>               
                  
                   
                 
                        <li>
                        <a href="/Login/Logout/" aria-expanded="false">
                            <i class="icon-close menu-icon"></i><span class="nav-text"> Çıkış Yap</span>
                        </a>
                    </li>

     
                </ul>
            </div>
        </div>