<section class="ftco-section bg-primary">
    <div class="container ">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                style="background-image: url(/carbook/images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">Hakkımızda</span>
                    <h2 class="mb-4">CarBook'a Hoşgeldiniz</h2>

                    <p>Biz, araba kiralama sektöründe faaliyet gösteren bir web sitesiyiz. Müşterilerimize kolay, hızlı ve güvenilir araç kiralama hizmeti sunmayı amaçlıyoruz. Geniş araç filomuz ve müşteri odaklı yaklaşımımızla memnuniyetinizi ön planda tutuyoruz. Sizlere en iyi araç seçeneklerini sunarak keyifli ve sorunsuz bir yolculuk deneyimi yaşatmak için buradayız. Araç kiralama ihtiyaçlarınızı karşılamak ve sizlere destek olmak için ekibimiz her zaman hazır. Bize güvenin, biz de sizin güveninizi kazanmak için çalışalım..</p>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>