@model UpdateRentCarViewModel

@{
    ViewData["Title"] = "UpdateRentCar";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Araba Kiralama Sayfası</h1>

<form method="post">
    <input type="hidden"  asp-for="RentCarID"/>
    <label>Kiralayan Adı Soyadı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    
    <br />
     <label>Kiralayan Mail Adresi</label>
    <input type="email" asp-for="Mail" class="form-control"/>
    

    <br />
     <label>Telefon Numarası</label>
    <input type="text" asp-for="PhoneNumber" class="form-control"/>
     <br />

     <label>Kiralayan Araba</label>
    <input type="text" asp-for="Car" class="form-control"/>
     

     <br />
     <label>Kiralayanir Alış Tarihi</label>
    <input type="date" asp-for="PickUpDate" class="form-control"/>
     <br />
     <label>Kiralayan Teslim Tarihi</label>
    <input type="date" asp-for="DropOffDate" class="form-control"/>    
     <br />
    

 
   
    <button class="btn btn-primary">Güncelle</button>




</form>

